---
mathjax: true
---
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
			<script>
			        MathJax.Hub.Config({
			            config: ["MMLorHTML.js"],
			            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
			            jax: ["input/TeX"],
			            tex2jax: {
			                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
			                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
			                processEscapes: false
			            },
			            TeX: {
			                TagSide: "right",
			                TagIndent: ".8em",
			                MultLineWidth: "85%",
			                equationNumbers: {
			                   autoNumber: "AMS",
			                },
			                unicode: {
			                   fonts: "STIXGeneral,'Arial Unicode MS'"
			                }
			            },
			            showProcessingMessages: false
			        });
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>email: minkowski dot jetson at gmail</li>
	        		<li><a href="https://github.com/minkowski-jetson">github.com/minkowski-jetson</a></li>
				</ul>
			</footer>
		</body>
	</html>

